<div id="footerBottom" class="footer-bottom">
	<div class="footer-bottom">
		<!-- container -->
		<div class="container">
			<div class="row-md-4 col-sm-4 widget widget_footer">
				<h3 class="widget-title">CUSTOMER POLICIES</h3>
				<ul class="col-md-4">
					<li>
						<a title="Shoes" href="14_contact.html">Contact us</a>
					</li>
					<li><a title="Perfumes" href="Faq.html">FAQ</a></li>
					<li><a title="Bags" href="Faq.html">T&C</a></li>
					<li><a title="Make Up" href="#">Terms of use</a></li>
				</ul>
				<ul class="col-md-4">
					<li>
						<a title="Track order" href="Faq.html">Track Order</a>
					</li>
					<li><a title="Shipping" href="Faq.html">Shipping</a></li>
					<li>
						<a title="Cancellation" href="Faq.html">Cancellation</a>
					</li>
					<li>
						<a title="Returns" href="NonOrderQueries.html"
							>Returns</a
						>
					</li>
				</ul>
				<ul class="col-md-4">
					<li>
						<a title="Privacy Policy" href="Faq.html"
							>Privacy policy</a
						>
					</li>
					<li>
						<a title="Grievance Redressal" href="#"
							>Grievance Redressal</a
						>
					</li>
				</ul>
			</div>
			<div class="row-md-4 col-sm-4 widget widget_footer">
				<h3 class="widget-title">USEFUL LINKS</h3>
				<ul class="col-md-6">
					<li><a title="Blog" href="12_blog.html">Blog</a></li>
					<li><a title="About Us" href="about.html">About Us</a></li>
					<li>
						<a title="Shortcodes" href="shortcodes.html"
							>Shortcodes</a
						>
					</li>
					<li>
						<a title="Contact us" href="14_contact.html"
							>Contact us</a
						>
					</li>
					<li><a title="sitemap" href="#">Sitemap</a></li>
				</ul>
				<ul class="col-md-6">
					<li>
						<a title="Corporate Information" href="#"
							>Corporate Information</a
						>
					</li>
					<li><a title="Editors pick" href="#">Editor's pick</a></li>
					<li><a title="Be an Insider" href="#">Be an Insider</a></li>
					<li>
						<a title="Refer and earn" href="#">Refer and Earn</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 widget widget_footer">
				<h3 class="widget-title">Help Center</h3>
				<ul>
					<li>
						<a href="Order-related-queries.html"
							>Order related queries</a
						>
					</li>
					<li>
						<a href="NonOrderQueries.html"
							>Non order related queries</a
						>
					</li>
					<li><a href="Recent-issues.html">Recent issues</a></li>
					<li><a href="Faq.html">Frequently asked questions</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6 col-sm-6">
				<div class="copy-rights">
					The Swiss Swan &copy; 2025. All Rights Reserved.
				</div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-6 col-sm-6 top-header">
					<button id="toggle-more">more</button>
					<ul class="top-social">
						<li class="logo-visible">
							<a
								title="Facebook"
								href="https://www.facebook.com/theswissswan"
								><i class="fa fa-facebook"></i
							></a>
						</li>
						<li class="logo-visible">
							<a
								title="instagram"
								href="https://www.instagram.com/theswissswan?igsh=cnNmdWjhMGt0aWVu"
								><i class="fa fa-instagram"></i>
							</a>
						</li>
						<li class="logo-visible">
							<a
								title="linkedin"
								href="https://www.linkedin.com/company/theswissswan/"
								><i class="fa fa-linkedin"></i
							></a>
						</li>
						<li class="logo-hidden">
							<a title="Twitter" href="https://x.com/TheSwissSwan"
								><i class="fa fa-twitter"></i
							></a>
						</li>
						<li class="logo-hidden">
							<a
								title="Pinterest"
								href="https://www.Pinterest.com/theswissswan"
								><i class="fa fa-pinterest-p"></i
							></a>
						</li>
						<li class="logo-hidden">
							<a
								title="thread"
								href="https://threads.net/@theswissswan/"
								><img src="images/icon/thread.svg" />
							</a>
						</li>
						<li class="logo-hidden">
							<a
								title="Google plus"
								href="https://theswissswan.com/"
								><i class="fa fa-google-plus"></i
							></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- container /- -->
		<a
			title="Back-to-top"
			id="back-to-top"
			href="#back-to-top"
			class="back-to-top"
			><i class="fa fa-caret-up"></i
		></a>
	</div>
	<!-- Footer Bottom -->
</div>
