<div id="Header-template">
	<!-- Header Section -->
	<header id="header" class="header">
		<!-- logo-search-block -->
		<div class="logo-search-block">
			<!-- container -->
			<div class="container">
				<div class=" logo-swissswan col-sm-4 col-xs-4">
					<img src="images/Screenshot_20241230_181654_ChatGPT-2.jpg"/>
				</div>
				<div class="ow-left-padding col-sm-4 col-xs-4">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
						<input type="text" class="form-control" placeholder="Search products">
					</div><!-- /input-group -->
				</div>
				<div class="icon-link col-sm-4">
					<span class="currency-container ow-right-padding ">
						<img class="icon" src="images/icon/dollar-symbol_icon-icons.com_70753.svg" alt="dollar symbol" />
						<span class="currencies">
							<div>Dollar(&#36;)</div>
							<div>Inr(&#8377;)</div>
							<div>Euro(&euro;)</div>
							<div>Pounds(&pound;)</div>
							<div>Dirham(د.إ )</div>
						</span>
					</span>
					<span class="currency-container">
						<img class="icon-human" src="images/icon/person-4.svg" alt="human" />
						<span class="currencies">
							<div><a title="Login" href="07_login_register.html">Login</a></div>
							<div><a title="Register" href="05_register.html">Register</a></div>
						</span>
					</span>
				
					<!-- Wishlist -->
					<span>
						<a title="My wishlist" href="wishlist.html">
							<img class="icon" src="images/icon/074-wishlist.svg" alt="wishlist" />
						</a>
					</span>
				
					<!-- Shopping Cart -->
					
					<span class="cart-link">
						<img class="icon" src="images/icon/shoppingcart_80945.svg" alt="cart" />
						<span class="cart-dropdown">
							<table>
							  <tr>
								<td class="product-thumb">
								  <a href="#"
									><img src="images/cart-hover-1.png" alt="cart-hover"
								  /></a>
								</td>
								<td>
								  <a title="Red Cotton Top" href="#">Red Cotton Top</a>
								</td>
								<td>x1</td>
								<td>$92.00</td>
								<td>
								  <a title="close" href="#"><i class="fa fa-close"></i></a>
								</td>
							  </tr>
							  <tr>
								<td class="product-thumb">
								  <a href="#"
									><img src="images/cart-hover-2.png" alt="cart-hover"
								  /></a>
								</td>
								<td>
								  <a title="Red Cotton Top" href="#">Red Cotton Top</a>
								</td>
								<td>x1</td>
								<td>$92.00</td>
								<td>
								  <a title="close" href="#"><i class="fa fa-close"></i></a>
								</td>
							  </tr>
							</table>
							<div class="sub-total">
							  <p><span>Sub Total</span> $160.00</p>
							  <p><span>Total</span> $160.00</p>
							</div>
							<div class="cart-button">
							  <a title="Add to cart" href="#">add to cart</a>
							  <a title="Checkout" href="#">Checkout</a>
							</div>
						  </div>  
						</span>
					</span>
			</div><!-- container /- -->
		</div><!-- logo-add-block /- -->
		</header>
</div>